div {
  background-color: sienna;
  padding: 20px;
  border-radius: 10px;
  font-size:auto ;
  margin-bottom: 10px;
}
#exs{
  background-color: lightgoldenrodyellow;
  text-align: center;
}
iframe{
  width: 666px;
  height: 375px;
}